<!--<%= render './layouts/messages'%>
<div class="show-detail">
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
</div>
<%= link_to 'Index',articles_path %>
<%= link_to 'Home',root_path %>
-->
<div class="card">
  <div class="card-header">
    Article 
  </div>
  <div class="card-body">
    <h5 class="card-title"> 
    <strong>Title:</strong>
  <%= @article.title %>
  </h5>
    <p class="card-text"><%= @article.text %></p>
  </div>
<small>
    <div class="article-info">
    Created Before: <%= time_ago_in_words(@article.created_at) %> ago ,
    Last Updated At : <%= time_ago_in_words(@article.updated_at) %>
    </div>
</small>

</div>
<%= link_to 'Index',articles_path %>
<%= link_to 'Home',root_path %>