<%= render './layouts/errormsg',obj:@user%>
<%= render './layouts/messages' %>
 <%= form_for(:reset, :html => {class: "form-horizontal", role: "form",url:change_password_path}) do |f| %>

<fieldset>
<legend>change password</legend>
<% if current_user==nil %>
  <div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>
  <div class="col-md-4">
    <%= f.email_field :email , placeholder:"enter email" , class:"form-control input-md"%>
  </div>
</div>
<% end %>

<div class="form-group">
  <label class="col-md-4 control-label" for="passeord">Password</label>
  <div class="col-md-4">
    <%= f.password_field :password , placeholder:"enter password" , class:"form-control input-md"%>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="repassword">Confirm Password</label>
  <div class="col-md-4">
     <%= f.password_field :repassword , placeholder:"must be same as above" , class:"form-control input-md" %>
  </div>
</div>
<%= f.submit "change",class: 'btn btn-primary btn-lg' %>
</fieldset>
<% end %>
